<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">

      <h1 class="display-1 text-white">Add Movie to List</h1>
        <div class="text-white">
          <%= simple_form_for [@list, @bookmark] do |f| %>
            <%= f.input :movie_id, collection: @movies %>
            <%= f.input :comment %>
            <%= f.button :submit %>
          <% end %>
      <h2 class="display-6 text-white text-center">Movies in this List</h2>
        </div>
    </div>
  </div>
</div>
</div>


      <% @bookmarks.each do |bookmark| %>
              <strong>Movie:</strong> <%= bookmark.movie.title %><br>
              <strong>Comment:</strong> <%= bookmark.comment %>
              <img src="<%= bookmark.movie.poster_url %>" alt="<%= bookmark.movie.title %>" style="width: 200px; height: auto;">
            <h3><%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-danger'%></h3>
      <% end %>
